@import "./partials/colors";
@import "./partials/resets";
@import "./partials/colorVariables";
@import "./partials/bmp";
@import "./partials/heightWidth";



h1 {
    color: $palatte2;
    padding: 2px;
    background-color: $palatte4;
}

h2 {
    color: pink

    
}