$palatte1: #22223b;   
$palatte2: #4a4e69;   
$palatte3: #9a8c98;
$palatte4: #c9ada7;
$palatte5: #f2e9e4;

$openz1: #f28482 ;
$openz2: #84a59d;
$openz3: #f5cac3;
$openz4: #f7ede2;
$openz5: #f6bd60;

$colors: (
    "palatte1" : $palatte1,
    "palatte2" : $palatte2,
    "palatte3" : $palatte3,
    "palatte4" : $palatte4,
    "palatte5" : $palatte5,
    "mediumspringgreen": mediumspringgreen,
    "mediumturquoise": mediumturquoise,
    "mediumvioletred" : mediumvioletred,
    "navy": navy,
    "olive": olive,
    "openz1": $openz1,
    "openz2": $openz2,
    "openz3": $openz3,
    "openz4": $openz4,
    "openz5": $openz5,
    
)